<mat-toolbar color="primary">
    <mat-icon class="menu-button">menu</mat-icon>
    <span class="spacer"></span>
    <button mat-button (click)="fetchPosts()">Fetch Posts</button>
</mat-toolbar>
<div></div>
<div *ngFor="let post of posts">
    <mat-card class="card-border">
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-content>
            {{post.body}}
        </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button color="primary" [routerLink]="['/posts', post.id]" [state]="{data:post}">View More</a>
        </mat-card-actions>
    </mat-card>
</div>